* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --dark-cyan-click: hsl(157, 30%, 24%);
}

body {
  background-color: var(--cream);
}

.container {
  margin: 20px auto;
  padding: 0  15px;
  width: 375px;
}

.card {
  background-color: var(--white);
  border-radius: 12px;
}

.card__image .image_1{
  display: block;
  inherits: none;
  width: 100%;
  border-radius:12px 12px 0 0;
}
.card__image .image_2{
  display: none;
}

.card__content {
  background-color: var(--white);
  padding: 0 30px;
  padding-bottom: 30px;
  border-radius: 0 0 12px 12px ;
}

.card_product {
  font-size: 13px;
  color: var(--dark-grayish-blue);
  font-family: "Montserrat", "Fraunces", serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 15px 0;
  letter-spacing: 0.4em;
}

.card__content__title {
  font-size: 24px;
  font-family: "Fraunces", serif;
  color: var(--very-dark-blue);
  font-weight: 700;
  margin: 15px 0;
}

.card__content__description {
  font-size: 15px;
  font-family: "Montserrat", "Fraunces", serif;
  color: var(--dark-grayish-blue);
  font-weight: 500;
  margin: 15px 0;
  line-height: 25px;
}

.card_content_list_prices {
  display: flex;
  padding-bottom: 20px;
}

.card_content_price_discount {
  font-size: 35px;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--dark-cyan);
  padding-right: 20px;
}

.card__content__price {
  padding-top: 11px;
  font-weight: 500;
  font-size: 15px;
  font-family: "Montserrat", serif;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}

.card__content__button a {
  text-decoration: none;
  padding-left: 5px;
  color: var(--white);
}

.card__content__button {
  width: 100%;
  padding: 13px;
  background-color: var(--dark-cyan);
  border-radius: 5px;
  text-align: center;
  color: var(--white);
  font-size: 15px;
  font-family: "Montserrat", serif;
  font-weight: 700;
}

.card__content__button:hover {
  cursor: pointer;
  background-color: var(--dark-cyan-click);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
}

/*Desktop Desing */
@media only screen and (min-width:375px) {

  .container {
    width: 700px;
  }
  .card{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
  }

  .card__image {
    max-width: 350px;
  }

  .card__image .image_2{
    display: block;
    width: 100%;
    border-radius: 12px 0px 0 12px;
  }
  .card__image .image_1{
    display: none;
  }

  .card__content {
    border-radius: 0 12px 12px 0;
    max-width: 350px;
  }

}
